.wishlist-container{
    min-height: 58.5vh;
}
.wishlist-item{
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}
.wishlist-item img{
    height:200px;
    width: 200px;
    align-items: center;
}
.wishlist-item p{
    margin: 6px 0px;
}
.wishlist-item-price{
    display: flex;
    padding-left: 0px;
    gap: 20px;
}
.wishlist-item-price-original{
    font-size: 20px;
    font-weight: 600;
    text-decoration: line-through;
}
.wishlist-item-price-offer{
    font-size: 20px;
    font-weight: 500;
}

.wishlist-item:hover{
    transform: scale(1.05);
    transition: 0.6s;
}