.item{
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.item img{
    height:200px;
    width: 200px;
    align-items: center;
}
.item p{
    margin: 6px 0px;
}
.item-price{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
}
.item-price-original{
    font-size: 15px;
    font-weight: 600;
    text-decoration: line-through;
}
.item-price-offer{
    font-size: 20px;
    font-weight: 500;
}

.item:hover{
    transform: scale(1.05);
    transition: 0.6s;
}